body {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 15px;
    line-height: 1.5;
    margin: 20px auto;
    padding: 9px;
    color: #404040; 
}

.header {
    max-width: 800px;
    margin: auto;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blink {
    animation: blinker 1.4s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes blinker {  
    75% { opacity: 0; }
}

nav {
    list-style-type: none;
    text-align: right;
}

li {
    display: inline;
    margin: 6px;  
}

h1 {
    margin: 0px;
}

ul {
    margin: 0px;
}

hr {
    border: 0;
    height: 1px;
    background: #000;
    opacity: 0.1;
}

.content {
    max-width: 650px;
    margin: auto;
}

p {
    text-indent: 10px;
    
}

h1, h2, h3 {
    line-height: 1.4;
    font-weight: 600;
}

.social {
    text-align: center;
}

#hlink {
    text-decoration: none;
    color: inherit;
}

#hlink:focus, #hlink:hover {
    color: #499ed6;
}

a, a:visited {
    color: #0c88db;
    text-decoration: none;
}
  
a:focus, a:hover {
    color: #499ed6;
    text-decoration: underline;
}