body {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 15px;
    line-height: 1.8;
    margin: 20px auto;
    padding: 9px;
    color: #404040; 
}

.header {
    max-width: 800px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#blink {
    animation: blinker 1.4s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes blinker {  
    75% { opacity: 0; }
}

h1 {
    margin: 0px;
}

nav {
    list-style-type: none;
    text-align: right;
    font-style: italic;
    margin-left: auto;
}

.active {
    font-weight: 600;
    margin-left: 4px;
    margin-right: 4px;
}

ul {
    margin: 0px;
    margin-inline-end: 6px;
    padding-inline-start: 0px;
}

li {
    display: inline;
    margin: 6px;
}

hr {
    border: 0;
    height: 1px;
    opacity: 0.1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
}

.content {
    max-width: 650px;
    margin: auto;
}

h1, h3 {
    line-height: 1.4;
    font-weight: 600;
}

p {
    text-indent: 10px; 
}

span {
    font-weight: 600;
}

.social {
    text-align: center;
    margin-top: 20px;
}

.hlink {
    text-decoration: none !important;
    color: inherit !important;
}

a, a:visited {
    color: #0c88db;
    text-decoration: none;
}
  
a:focus, a:hover {
    color: #499ed6 !important;
    text-decoration: underline;
}

body[lang="en"] [lang="es"],
body[lang="es"] [lang="en"] {
    display: none;
}

#langButton {
    padding: 4px 4px 4px 26px; 
    background: #e6e6e6 url(../lang_icon16.png) 4px 4px no-repeat;
    border-radius: 4px;
    border: 1px solid #acacac;  
}
#langButton:hover {
    background-color: #f0f0f0;        
}
