html {
    font-family:Inter,Helvetica Neue,-apple-system,BlinkMacSystemFont,Helvetica,Segoe UI,
    Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Microsoft Yahei,sans-serif;
}
body {
    margin: 20px auto;
    line-height: 1.8;
    font-size: 14px;
    color: #404040; 
}

.header {
    max-width: 800px;
    margin: auto;
}

.content {
    max-width: 650px;
    margin: auto;
    font-family: Inter;
}

.blink {
    animation: blinker 1.4s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes blinker {  
    75% { opacity: 0; }
}    
nav {
    list-style-type: none;
    text-align: right;
}

li {
    display: inline;
    margin: 5px;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #000;
    opacity: .1;
}

h1, h2, h3 {
    line-height: 1.6;
}

.headerlink {
    text-decoration:none;
    color:inherit;
}

@font-face {
    font-family: 'Inter';
    src: url('../static/fonts/Inter-VariableFont_slnt,wght.ttf');
    font-weight: normal;
    font-style: normal;
}